/* Error: $color: var(--color-primary) is not a color.
 *     ,
 * 146 |     background-color: darken(var(--color-primary), 10%); // Escurece o botão no hover (SCSS function)
 *     |                       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   scss\components\_gallery-cards.scss 146:23  @import
 *   scss\styles.scss 30:9                       root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: $color: var(--color-primary) is not a color.\a     \2577 \a 146 \2502      background-color: darken(var(--color-primary), 10%); // Escurece o bot\e3 o no hover (SCSS function)\d\a     \2502                        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   scss\\components\\_gallery-cards.scss 146:23  @import\a   scss\\styles.scss 30:9                       root stylesheet";
}
